<div class="list-column">

  <div class="list-column__chat">
    {{{createNewChatBtn}}}
    <nav class="list-column__font_grey">
      <a href="./settings">
        <span>Profile</span>
        {{{imageNext}}}
      </a>
    </nav>
  </div>

  <form class="list-column__form">
    {{{inputSearch}}}
  </form>

  {{#if noChats}}

    <div class="home-page__default">
      <p>add new chat</p>
      <p>(left top corner)</p>
    </div>
  {{else}}

    <ul class="list-column__ul-chat">
      {{#each chatColumn}}
        {{{this}}}
      {{/each}}
    </ul>

  {{/if}}
</div>