<div class="list-column">
  <nav class="list-column__font_grey">
    <a href="./Profile/profile.hbs">
      <span>Profile</span>
      {{{imageNext}}}
    </a>
  </nav>
  <form class="list-column__form">
    {{{inputSearch}}}
  </form>
  {{{chatColumn_1}}}
  {{{chatColumn_2}}}
  {{{chatColumn_3}}}
  <nav class="test">
    <ul>
      <li>
        <a href="./add-user">add user</a>
      </li>
      <li>
        <a href="./delete-user">delete user</a>
      </li>
      <li>
        <a href="./edit-details">edit details</a>
      </li>
      <li>
        <a href="./edit-password">edit password</a>
      </li>
      <li>
        <a href="./profile">profile</a>
      </li>
      <li>
        <a href="./error-404">error 404</a>
      </li>
      <li>
        <a href="./error-500">error 500</a>
      </li>
      <li>
        <a href="./login">login</a>
      </li>
      <li>
        <a href="./registration">registration</a>
      </li>
      <li>
        <a href="./load-file">load file</a>
      </li>
    </ul>
  </nav>
</div>