<main class="edit-password">
  <nav class="edit-password__back_button">
    {{! <a href="../Profile/profile.hbs"></a> }}
    {{{backButton}}}
  </nav>
  <form class="edit-password__container">
    <div>
      {{{imageAvatar}}}
      <h2 class="edit-password__name">Ivan</h2>
    </div>
    <ul class="edit-password__info">
      <li class="edit-password__row">
        {{{inputOldPassword}}}
      </li>
      <li class="edit-password__row">
        {{{inputNewPassword}}}
      </li>
      <li class="edit-password__row">
        {{{inputNewPasswordAgain}}}
      </li>
    </ul>
    {{{saveButton}}}
  </form>
</main>