<div class="edit-password">
  <nav class="edit-password__back_button">
    {{{backButton}}}
  </nav>
  <form class="edit-password__container">
    <div>
      {{{imageAvatar}}}
      {{{title}}}
    </div>
    <ul class="edit-password__info">
      <li class="edit-password__row">
        {{{inputOldPassword}}}
      </li>
      <li class="edit-password__row">
        {{{inputNewPassword}}}
      </li>
      <li class="edit-password__row">
        {{{inputNewPasswordAgain}}}
      </li>
    </ul>
    {{{saveButton}}}
  </form>
</div>