<div class="profile">
  <nav class="profile__back_button">
    {{{backButton}}}
  </nav>
  <form class="profile__container">
    <div class="profile__avatar-container">
      {{{imageAvatar}}}
      {{{imageOverlay}}}
      {{{title}}}
    </div>
    <ul class="profile__info">
      <li class="profile__row">
        {{{inputEmail}}}
      </li>
      <li class="profile__row">
        {{{inputLogin}}}
      </li>
      <li class="profile__row">
        {{{inputName}}}
      </li>
      <li class="profile__row">
        {{{inputSurName}}}
      </li>
      <li class="profile__row">
        {{{inputNickName}}}
      </li>
      <li class="profile__row">
        {{{inputTelephone}}}
      </li>
    </ul>
    <nav class="profile__container_buttons">
      <ul>
        <li class="profile__row">
          {{{editDetailsLink}}}
        </li>
        <li class="profile__row">
          {{{editPasswordLink}}}
        </li>
        <li class="profile__row">
          {{{logOutLink}}}
        </li>
      </ul>

    </nav>
  </form>
</div>