<div class="registration">
  <div class="registration__modal">
    <h2 class="registration__title">Registration</h2>
    <form class="registration__form">
      {{{inputEmail}}}
      {{{inputLogin}}}
      {{{inputName}}}
      {{{inputSurname}}}
      {{{inputTelephone}}}
      {{{inputPassword}}}
      {{{inputPasswordAgain}}}
      {{{loginButton}}}
      {{{loginLink}}}
    </form>
  </div>
</div>