{{#if active}}
<li class="chat-column chat-column_selected" id={{id}}>
{{else}}
<li class="chat-column" id={{id}}>
{{/if}}
  {{{imageAvatar}}}
  <div class="chat-column__text">
    <p class="chat-column__user">{{title}}</p>
    <p class="chat-column__message">{{isYou}}{{last_message}}</p>
  </div>
  <div class="chat-column__time-zone">
    <p class="chat-column__time">{{time}}</p>
    {{#if unread_count}}
    <span class="chat-column__counter">{{unread_count}}</span>
    {{/if}}
  </div>
</li>