{{#if chatName}}
  <div class="user-chat">
    <div class="user-chat__header">
      {{{imageAvatar}}}
      <p class="user-chat__header_name">{{chatName}}</p>
      <nav class="user-chat__header_menu">
        <button class="user-chat__header_menu_button"></button>
        <ul class="user-chat__header_menu_content">
          <li>
            {{{addUser}}}
          </li>
          <li>
            {{{deleteUser}}}
          </li>
          <li>
            {{{deleteChat}}}
          </li>
        </ul>
      </nav>
    </div>
    {{!-- {{{message}}} --}}
    <div class="user-chat__messages">
      {{#if noMessages}}
        <div></div>
      {{else}}
        {{#each messages}}
          {{{this}}}
        {{/each}}
      {{/if}}
    </div>
    <div class="user-chat__footer">
      <nav class="user-chat__footer_additional">
        <button class="user-chat__footer_additional_button"></button>
        <ul class="user-chat__footer_additional_content">
          <li>
            <a>
              {{{imageVideo}}}
              <span>Photo & video</span>
            </a>
          </li>
          <li>
            <a>
              {{{imageFile}}}
              <span>File</span>
            </a>
          </li>
          <li>
            <a>
              {{{imageLocation}}}
              <span>Location</span>
            </a>
          </li>
        </ul>
      </nav>
      <form class="user-chat__footer_form">
        {{{inputMessage}}}
        {{{sendButton}}}
      </form>
    </div>
  </div>
{{else}}
  <div class="home-page__default">
    <p>Select a chat to start messaging</p>
  </div>
{{/if}}