<div>
    <div class="edit-details">
        <nav class="edit-details__back_button">
            {{{backButton}}}
        </nav>
        <form class="edit-details__container">
            <div>
                {{{imageAvatar}}}
                {{{title}}}
            </div>
            <ul class="edit-details__info">
                <li class="edit-details__row">
                    {{{inputEmail}}}
                </li>
                <li class="edit-details__row">
                    {{{inputLogin}}}
                </li>
                <li class="edit-details__row">
                    {{{inputName}}}
                </li>
                <li class="edit-details__row">
                    {{{inputSurName}}}
                </li>
                <li class="edit-details__row">
                    {{{inputNickName}}}
                </li>
                <li class="edit-details__row">
                    {{{inputTelephone}}}
                </li>
            </ul>
            {{{saveButton}}}
        </form>
</div>
